<div class="page-container">
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
          <li>
            <a href="#add-film/{{username}}"><span class="title">Add film</span></a>
          </li>
          <li>
            <a href="#"><span class="title">Logout</span></a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="page-content-wrapper">
    <div class="page-content">
      <div>
        <div class="portlet light ">
          <div class="portlet-title">
            <div class="caption caption-md">
              <i class="icon-bar-chart font-green-haze hide"></i>
              <span class="caption-subject font-green-haze bold uppercase">Films</span>
            </div>
          </div>
          <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless">
              <table class="table table-hover table-light">
              <thead>
                <tr>
                    <th> Title </th>
                    <th> Producer </th>
                    <th> Genre </th>
                    <th> Production date </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="film in films">
                  <td class="title">{{ film.title }}</td>
                  <td class="producer">{{ film.producer }}</td> 
                  <td class="genre">{{ film.genre }}</td> 
                  <td class="production-date">{{ film.productionDate }}</td>
                  <td>
                    <button class="btn btn-active" ng-click="download(film)"> 
                      {{ buttonText(film) }} 
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-active" ng-if="isEditable(film)" ng-click="edit(film)"> 
                      {{ editButtonText }} 
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>	
  </div>
  </div>